<tr data-id="<%= question.id %>">
  <td><%= question.abbreviation %></td>
  <td><%= question.text %></td>
  <td class="buttons"><a href="#trials/<%= trial.id %>/questions/<%= question.id %>">Fill Out</a></td>
</tr>